<section class="categories">
  <h2 class="categories_title">Choisis une catégorie</h2>

  <section class="categories_filter">
    <input
      type="text"
      placeholder="Rechercher une catégorie"
      [(ngModel)]="search"
      (input)="filterCategories()"
    />
    <button class="btn--outline" (click)="resetFilter()">Vider</button>
  </section>

  <section class="categories_list">
    <div
      *ngFor="let category of filteredCategories"
      (click)="goToQuiz(category.id)"
    >
      <p>{{ category.categoryLabel }}</p>
    </div>
  </section>
</section>
